$mainFont: 'Poppins';


:root {
    --bg: linear-gradient(180deg, #F5F5FA 0%, #F2DAD5 44.15%, #A0ABD6 100%);
    --dark: #231D4F;
    --dark-2:#403879;
    --purple: #BB6BD9;
    --dark-purple:#A847CC;
    --light-gray: #F5F5FA;
    --beige: #F2DAD5;
    --gray:#848199;
    --dark-blue:#3B3472;


    --white: #fff;
    --black: #000;
}