@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.eot) format('eot'),
        url(../fonts/Poppins-Bold.otf) format('otf'),
        url(../fonts/Poppins-Bold.ttf) format('ttf'),
        url(../fonts/Poppins-Bold.woff) format('woff'),
        url(../fonts/Poppins-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.eot) format('eot'),
        url(../fonts/Poppins-ExtraBold.otf) format('otf'),
        url(../fonts/Poppins-ExtraBold.ttf) format('ttf'),
        url(../fonts/Poppins-ExtraBold.woff) format('woff'),
        url(../fonts/Poppins-ExtraBold.woff2) format('woff2');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.eot) format('eot'),
        url(../fonts/Poppins-Medium.otf) format('otf'),
        url(../fonts/Poppins-Medium.ttf) format('ttf'),
        url(../fonts/Poppins-Medium.woff) format('woff'),
        url(../fonts/Poppins-Medium.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.eot) format('eot'),
        url(../fonts/Poppins-Regular.otf) format('otf'),
        url(../fonts/Poppins-Regular.ttf) format('ttf'),
        url(../fonts/Poppins-Regular.woff) format('woff'),
        url(../fonts/Poppins-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}


